/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

body {
    font-family: $myFont;
}

h2.projectTitle {
    font-family: $headerFont, serif;
    font-size: 52px;
    font-weight: bold;
    color: white;
}

h2.projectTitle small {
    font-family: $myFont;
    font-size: 22px;
}

body {
    color: $secondaryColor;
    font-size: 20px;
    font-family: $myFont;
}

a.button {
    border-radius: 12px;
    padding: 16px;
    font-size: 16px;
    background: white;
    color: $primaryColor;
}

a.button.highlighted {
  background: $tertiaryColor;
  color: white;
}

a.button:hover {
   color: white;
   background: $highlightColor;
}


div.homeContainer {
    color: white;
    background: $secondaryColor;
}